body {
    background-color: rgb(189,221,240);
    height: 100vh;
}

p {
    font-size: 1.7vh;
    font-size: Calc(.4vw + 1.2vh);
}

body > div.container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

nav.navbar {
    font-size: 1vw;
    margin-left: -15px;
    margin-right: -15px;
}