#work-in-progress-message {
    color: rgb(255, 0, 0);
    font-size: 1.8vh;
    font-size: Calc(.8vw + 1.5vh);
    text-align: center;
}

p#intro-paragraph {
    margin-top: 2%;
    text-align: center;
}